body {
    font-family: Arial, sans-serif;
    padding: 20px;
   
  }
*{
  margin: 0%;
  padding: 0%;
  background-image: url(hospital.jpg);
  background-repeat: no-repeat;
  background-image: url('hospital.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
  .container {
    margin-top: 300px;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
 
  background-color: black; 
  }

  .form-group {
    margin-bottom: 15px;
    color: white;
    background-color: black; 
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: black; 
    color: white;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
    background-color: black; 
  }

  .form-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    color: white;

  }

  .form-group button:hover {
    background-color: #2980b9;
    background-color: white; 
    color:black;
  }

  body {
    background-image: url('hospital.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: white;
    height: 100vh;
  }
  .button button {
    background-color: black;
}